* creates `deriv/timing_df_recall.csv`
- make and save a dataframe containing onset and offset TRs for each cue presentation during recall

In [1]:
import numpy as np
import pandas as pd
import itertools
import matplotlib.pyplot as plt

import sklearn
import brainiak
import nilearn as nl
from nilearn import image, plotting, input_data

from scipy.spatial import distance

pd.options.display.max_rows = 200

- [SUB]_recall.log does not exist for all sub
- use [sub]_recall_mylog.log instead

### cols
- sub_num
- wed_id
- onset TR
- offset TR

In [2]:
def load_sub_df(sub_num):
  """ """
  TR_rate = 1.5
  # load sub log file
  fpath = 'data/behav/silvy_buckets/sub%.2iday2/%i_recall_mylog.log'%(100+sub_num,sub_num)
  f = open(fpath, "r")
  first_line = f.readline()
  # extract first TR tstamp
  first_tstamp = float(first_line.split()[1])
  # init df
  sub_df = pd.DataFrame(columns=['sub_num','wed_id','onset_TR','offset_TR'])
  # loop over rows in logfile (stim onsets)
  for x in f:
    # extract info
    RV,tstamp,stim = x.split(' ')
    tstamp = float(tstamp[:-1])
    wed_id = stim.split('/')[-1].split('.')[0][1:]
    onset_TR = np.floor((tstamp-first_tstamp)/TR_rate)
    # populate df with info
    sub_df.loc[tstamp,'sub_num'] = sub_num
    sub_df.loc[tstamp,'wed_id'] = wed_id
    sub_df.loc[tstamp,'onset_TR'] = onset_TR
  def include_offset_TR_col(sub_df):
    sub_df.iloc[:-1].loc[:,'offset_TR'] = sub_df.iloc[1:].onset_TR.values
    sub_df.iloc[-1].offset_TR = -1
    return sub_df
  sub_df = include_offset_TR_col(sub_df)
  return sub_df


sub_dfL = [] 
for sub_num in range(1,45):
  try:
    sub_df = load_sub_df(sub_num)
  except:
    print('error sub=',sub_num)
    continue
  sub_dfL.append(sub_df)

error sub= 1

//anaconda3/envs/brain/lib/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
//anaconda3/envs/brain/lib/python3.6/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

error sub= 16
error sub= 20
error sub= 21

In [3]:
timing_df = pd.concat(sub_dfL)
timing_df.index = np.arange(len(timing_df))
timing_df = timing_df.astype(int)

# include col with wedding class

In [4]:
wedclass_df = pd.read_csv('deriv/NvSclass_df.csv',index_col=0)
print(wedclass_df.head())

  NorS  wed_id  wed_num  sub_num
0    S      20        0        3
1    N      23        1        3
2    N       6        2        3
3    S      17        3        3
4    S      38        4        3

In [5]:
""" use wed_id to find wed_class 
"""
for i,df_row in timing_df.iterrows():
  sub_num,wed_id = df_row.sub_num,df_row.wed_id
  try:
    wed_class = wedclass_df[(wedclass_df.wed_id==wed_id) & (wedclass_df.sub_num==sub_num)].NorS.values[0]
    timing_df.loc[i,'wed_class']=wed_class
  except:
    print('error: sub',sub_num,'wed_id',wed_id)
    continue

error: sub 2 wed_id 34
error: sub 2 wed_id 29
error: sub 2 wed_id 17
error: sub 2 wed_id 38
error: sub 2 wed_id 6
error: sub 2 wed_id 1
error: sub 2 wed_id 19
error: sub 2 wed_id 20
error: sub 2 wed_id 2
error: sub 2 wed_id 23
error: sub 2 wed_id 22
error: sub 2 wed_id 28
error: sub 11 wed_id 29
error: sub 11 wed_id 17
error: sub 11 wed_id 6
error: sub 11 wed_id 34
error: sub 11 wed_id 22
error: sub 11 wed_id 20
error: sub 11 wed_id 28
error: sub 11 wed_id 38
error: sub 11 wed_id 2
error: sub 11 wed_id 23
error: sub 11 wed_id 19
error: sub 11 wed_id 1
error: sub 37 wed_id 22
error: sub 37 wed_id 29
error: sub 37 wed_id 2
error: sub 37 wed_id 23
error: sub 37 wed_id 17
error: sub 37 wed_id 6
error: sub 37 wed_id 1
error: sub 37 wed_id 19
error: sub 37 wed_id 20
error: sub 37 wed_id 38
error: sub 37 wed_id 34
error: sub 37 wed_id 28
error: sub 39 wed_id 22
error: sub 39 wed_id 1
error: sub 39 wed_id 17
error: sub 39 wed_id 19
error: sub 39 wed_id 28
error: sub 39 wed_id 23
error: sub 39 wed_id 6
error: sub 39 wed_id 38
error: sub 39 wed_id 34
error: sub 39 wed_id 2
error: sub 39 wed_id 29
error: sub 39 wed_id 20

In [6]:
timing_df.iloc[10:40]

    sub_num  wed_id  onset_TR  offset_TR wed_class
10        2      22       289        328       NaN
11        2      28       328         -1       NaN
12        3      22         0         57         N
13        3      19        57        118         N
14        3       1       118        155         N
15        3       6       155        201         N
16        3      23       201        245         N
17        3      28       245        317         S
18        3      34       317        381         N
19        3      17       381        424         S
20        3       2       424        476         S
21        3      29       476        534         S
22        3      38       534        604         S
23        3      20       604         -1         S
24        4      19         0         45         S
25        4      34        45        110         N
26        4      38       110        181         N
27        4      22       181        241         N
28        4      28       241        263         S
29        4      29       263        303         N
30        4       6       303        356         N
31        4      17       356        405         S
32        4      20       405        438         S
33        4       2       438        489         S
34        4       1       489        519         N
35        4      23       519         -1         S
36        5      20         0         44         N
37        5      38        44         67         S
38        5       2        67        103         N
39        5      23       103        135         S

In [7]:
timing_df.to_csv('deriv/timing_df_recall.csv')